
root/usr/bin/redsift/node_modules/
root/usr/bin/redsift/npm-debug.log

root/usr/bin/redsift/run.js

test/npm-debug.log

test/server-alt/node_modules/

test/server/node_modules/
node_modules
coverage/
output/
test-results
test/*/package-lock.json
root/usr/bin/redsift/.npmrc
root/home/sandbox/.npmrc

node-capnp