version: 2.1

default:
  environment: &envvars
    CONTAINER_NAME: quay.io/redsift/sandbox-javascript
    CIRCLE_REVERSE_DEPENDENCIES: sandbox-dmarc-insights
executors:
  dockexec:
    shell: /bin/bash
    environment: *envvars
    docker:
      - image: cibuilds/docker:19.03.2

  baseexec:
    shell: /bin/bash
    environment: *envvars
    docker:
      - image: cibuilds/base:2019.03

commands:
  v_build:
    parameters:
      nv:
        type: string
        default: "8.10.0"
      islatest:
        type: boolean
        default: false
    steps:
      - checkout
      - setup_remote_docker
      - run: docker login -u $QUAY_USER -p $QUAY_PASS quay.io
      - run: ./circle/docker_build << parameters.nv >> << parameters.islatest >>
      - run: ./circle/gen_testing_dockerfile << parameters.nv >>
      - run: ./circle/docker_test << parameters.nv >>
      - persist_to_workspace:
          root: ./
          paths:
            - circle
      - deploy:
          command: docker push $CONTAINER_NAME

jobs:
  build_v8:
    executor: dockexec
    steps:
      - v_build

  build_v10:
    executor: dockexec
    steps:
      - v_build:
          nv: "10.17.0"

  build_placeholder:
    executor: dockexec
    steps:
      - run: echo "Create a job for each extra version with the command defined above"

  trigger-builds:
    executor: baseexec
    steps:
      - attach_workspace:
          at: /
      - run: /circle/trigger_build

workflows:
  version: 2.1
  build-and-deploy:
    jobs:
      - build_v8:
          context: org-global
      - build_v10:
          context: org-global
      - trigger-builds:
          requires:
            - build_v8
            - build_v10
          filters:
            branches:
              only:
                - master
